:root {
    --vampire-black : #0d0208;
    --dark-green : #003b00;
    --islamic-green : #008F11; 
    --malachite : #00FF41;

}
body {
    background-color: aquamarine;
    height:100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    
}
.container {
    min-height: 85vh;
    min-width: 55vw;
    border:2px solid var(--dark-green);
    background-color: #F1F2ED;
    border-radius:10px;
    margin:10px;
    display: grid;
    grid-template: 
    'screen screen screen screen screen'
    'divide seven eight nine subtract'
    'equals four five six add'
    'multiply one two three add'
    'clear zero double-zero decimal add'
    / 2fr 3fr 3fr 3fr 2fr;
    grid-gap: 15px;
    
    
    

}
.screen {grid-area: screen; }
#divide {grid-area: divide; }
#equals {grid-area: equals; }
#multiply {grid-area: multiply; }
#clear {grid-area: clear; }
#seven {grid-area: seven;}
#eight {grid-area: eight; }
#nine {grid-area: nine; }
#four {grid-area: four; }
#five {grid-area: five; }
#six {grid-area: six; }
#one {grid-area: one; }
#two {grid-area: two; }
#three {grid-area: three; }
#zero {grid-area: zero; }
#double-zero {grid-area: double-zero}
#decimal {grid-area: decimal}
#subtract {grid-area: subtract}
#add {grid-area: add}

.screen {
    border: 5px solid rgb(74, 82, 72);
    background-color: var(--vampire-black);
    color: var(--malachite);
    font-size:4vh;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
.screen-nums {
    padding-right:5px;
    font-size: 7vh;
    
}
button {
    font-size: 5vh;
    font-weight: 900;
    border-radius: 25px;
}
.operator-left {
    margin-left: 10px;
    background-color: rgb(224, 17, 231);
}
.operator-right {
    margin-right: 10px;
    background-color:rgb(65, 90, 228)
}

.num-button {
    background-color:var(--islamic-green)
}
.bottom {
    margin-bottom: 5px;
}



button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }